body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 50px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
  width: 250px;
  
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #3f0799;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

