body {
  background-image: url(https://muziktiger.hgodo.com/KOR/background/cameratiger/ipad.jpeg);
}
#canvas {
  background-color: white;
}
.muzic {
  width: 400px;
  height: 450px;
  background-image: url(https://contents.sixshop.com/thumbnails/uploadedFiles/56465/post/image_1705657807059_750.jpeg);
}
