* {
    box-sizing: border-box;
}

html, body {
    width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.header {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header h1 {
    display: inline-block;
    text-align: center;
}

.container {
    max-width: 400px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

#inputFiled {
    color: black;
    padding-left: 15px;
    width: 600px;
    height: 100%;
    border: none;
    font-size: 15px;
    outline: none;
}

input:focus {
    outline: none;
}
.container #addToDo {
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.container #addToDo:hover {
    color: rgb(0, 217, 255);
}

.to-dos {
    margin-top:25px;
    list-style: none;
    /* background-color: rgb(241, 242, 241); */
    text-indent: 15px;
    font-size: 13px;
}

li {
    margin-left: 10px;
}

button {
    background-color: transparent;
    border: none;
    color: rgb(226, 27, 27);
    font-size: 10px;
}