* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

header h1 {
    display: inline-block;
    text-align: center;
    font-size: 50px;
}

.inputField {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#cityInput {
    width: 300px;
    max-width: 300px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.555);
    border: none;
    border-radius: 40px;
    font-size: 30px;
    color: rgb(20, 152, 214);
}

input:focus {
    outline: none;
}

#cityInput::placeholder {
    font-family: "Jua", sans-serif;    
    color: rgb(20, 152, 214);
    font-size: 20px;
}

#weatherButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

#weatherButton:hover {
    color: rgb(20, 152, 214);
}


#weatherInfo {
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Jua", sans-serif;
}

#cityName {
    font-weight: bold;
    font-size: 30px;
}

#weatherIcon img{
    width: 100px;
    height: auto;
    background-color: rgba(221, 221, 221, 0.521);
    border-radius: 50%;
    margin-top: 20px;
}

#currentTemp:hover {
    color: aqua;
}

#minTemp:hover {
    color: aqua;
}

#maxTemp:hover {
    color: aqua;
}









